.noProducts {
display:grid;
justify-items: center;
margin: 30px auto;
font-family: Helvetica, sans-serif;
font-weight: bold;
}
.total {
    display: flex;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    color: green;
    font-size: 20px;
}
.orden {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left: 570px;
    margin-bottom: 25px;
    Border-radius: 5px;
    border-color:#7fdf6c;
    font-size: 19px;
    height: 45px;
    width: 8vw;
    font-family:Helvetica, sans-serif;
}
.orden:hover {
    color: aliceblue;
    font-family:sans-serif;
    background-color: #7fdf6c;
}
