.contador {
    display: flex;
    text-align: center;
    display: flex;
    justify-content: center;
}
.sumar {
    border-radius: 5px;
    border-color:#7fdf6c;
    font-size: 15px;
    height: 2vw;
    width: 2vw;
}
.restar {
    border-radius: 5px;
    border-color: red;
    font-size: 15px;
    height: 2vw;
    width: 2vw;
    
}
.contCarrito {
    padding-top: 0.3vw;
    height: 2vw;
    width: 2vw;
}
.disabledButton {
    border-radius: 5px;
    border-color:grey;
    font-size: 15px;
    height: 2vw;
    width: 2vw;
}